body {
    background-color: black;
}

#particles-js {
    z-index: -3;
}

#interactivityblock {
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#aboutdiv {
    background: #000;
    position: absolute;
    width: 77%;
    height: 77%;
    top: 13%;
    left: 13%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    overflow-y: scroll;
}