* {
    margin: 0;
    --expertise-margin: 1%;
    --icon-length: 10em;
    --min-icon-length: 50px;
}

body {
    /*padding: 5%;*/
    background-image: linear-gradient(45deg, white 15%, #1276c7 85%);
    /*background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e3cd00 15%, #ff000d 85%);*/
    /*background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e3cd00 15%, #ff000d 85%);*/
    /*background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e3cd00 15%, #ff000d 85%);*/
    /*background-image: url("images/overlay.png"), linear-gradient(45deg, #e3cd00 15%, #ff000d 85%);*/
}

h1 {
    font-family: Montserrat-Regular;
    font-size: 4em;
    /*border-style: solid;*/
}

h2 {
    font-family: Montserrat-Thin;
    font-size: 2em;
}

h3 {
    font-family: Montserrat-Light;
    font-size: 2em;
}

ul {
    list-style-type: none;
}

li {
    font-family: Montserrat-List;
    font-size: 20px;
}

a {
    border-bottom: dotted 1px;
    position: relative;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    border-bottom: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

#github {
    width: var(--icon-length);
    height: var(--icon-length);
    transition: ease-in-out 0.3s;
}

#github:hover {
    color: white;
}

#gmail {
    height: var(--icon-length);
    width: var(--icon-length);
    min-height: var(--min-icon-length);
    min-width: var(--min-icon-length);
    transition: ease-in-out 0.3s;
}

#gmail:hover {
    color: white;
}

#linkedin {
    height: var(--icon-length);
    width: var(--icon-length);
    min-height: var(--min-icon-length);
    min-width: var(--min-icon-length);
    transition: ease-in-out 0.3s;
}

#linkedin:hover {
    color: white;
}

#youtube {
    height: var(--icon-length);
    width: var(--icon-length);
    min-height: var(--min-icon-length);
    min-width: var(--min-icon-length);
    transition: ease-in-out 0.3s;
}

#youtube:hover {
    color: white;
}

/*.menu-area {*/
/*    margin-top: 2%;*/
/*    margin-left: calc(6% + var(--expertise-margin));*/
/*    margin-bottom: 20px;*/
/*}*/

/*.menu-area li {*/
/*    display: inline-block;*/
/*    list-style-type: none;*/
/*    !*line-height: 50px;*!*/
/*    margin-left: 2%;*/
/*    margin-right: 2%;*/
/*}*/

/*.menu-area li a {*/
/*    font-family: Montserrat-Light;*/
/*    font-size: 15px;*/
/*    border-style: none;*/
/*}*/

.description {
    font-family: Montserrat-Light;
    margin-left: 10%;
}

#technical-skills {
    /*border-style: solid;*/
    /*background-image: linear-gradient(to right, white, #062F4F);;*/
}

#guitar {
    /*background-image: linear-gradient(to right, #813772, white);;*/
}

#community {
    margin-bottom: 15%;
}


.header {
    color: white;
    background-color: black;
    margin-left: calc(9% + var(--expertise-margin));
    margin-top: 6%;
    padding: 1%;
    margin-bottom: 2%;
    max-width: 70%;
    /*border-style: solid;*/
}

.header-text {
    opacity: 1;
}

.container {
    display: flex;
    /*border-style: solid;*/
    justify-content: left;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 10%;
    /*padding: 2%;*/
    /*padding-bottom: 5%;*/
}

#home {
    margin-bottom: 10%;
}

.home-section {
    padding: var(--expertise-margin);
    width: 40%;
    min-width: 400px;
    /*border-style: solid;*/
}

.expertise-section {
    /*margin-top: var(--expertise-margin);*/
    /*margin-bottom: var(--expertise-margin);*/
    /*margin-left: var(--expertise-margin);*/
    /*margin-right: var(--expertise-margin);*/
    /*margin: var(--expertise-margin);*/
    /*border-style: solid;*/
    padding: var(--expertise-margin);
    /*margin-top: 1%;*/
    /*margin-right: 2%;*/
    width: 40%;
    min-width: 400px;
}

.expertise-section li {
    /*border-style: solid;*/
    /*margin: 1%;*/
}


.guitar-section {
    padding: var(--expertise-margin);
    width: 40%;
    min-width: 400px;
    /*border-style: solid;*/
}

.community-section {
    padding: var(--expertise-margin);
    width: 40%;
    min-width: 400px;
}

.icon-section {
    min-width: 500px;
}

@font-face {
    font-family: Montserrat-List;
    src: url("Assets/montserrat/Montserrat-Light.otf")
}

@font-face {
    font-family: Montserrat-Thin;
    src: url("Assets/montserrat/Montserrat-Thin.otf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("./Assets/montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("./Assets/montserrat/MontserratAlternates-Light.otf");
}