#githublogo {
    height: 30px;
    width: 30px;
}

#guitarimage {
    height: 35px;
    width: 78px;
}

#gmaillogo {
    height: 40px;
    width: 40px;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    background: black;
}

.indexnav {
    z-index: 3;
}

.background {

    position: absolute;

    top: 50%;
    left: 50%;

    height: 400px;
    width: 600px;

    /*border-radius: 50%;*/

    margin-left: -300px;
    margin-top: -200px;

    background-color: transparent;
    border: 1px solid white;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;

}

.fly-in-text {

    list-style: none;
    position: absolute;

    left: 50%;
    /*margin-left: -25%;*/

    top: 40%;
    transform: translateX(-53%);
}

.fly-in-text li {
    display: inline-block;
    margin-right: 70px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 3em;
    color: #ffffff;
    opacity: 1;
    transition: all 1s ease;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
    -webkit-transform: translateX(-50px) translateY(-100px);
    -moz-transform: translateX(-50px) translateY(-100px);
    -ms-transform: translateX(-50px) translateY(-100px);
    -o-transform: translateX(-50px) translateY(-100px);
    transform: translateX(-50px) translateY(-100px);
}

.fly-in-text.hidden li:nth-child(2) {
    -webkit-transform: translateX(20px) translateY(100px);
    -moz-transform: translateX(20px) translateY(100px);
    -ms-transform: translateX(20px) translateY(100px);
    -o-transform: translateX(20px) translateY(100px);
    transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
    -webkit-transform: translateX(-150px) translateY(-80px);
    -moz-transform: translateX(-150px) translateY(-80px);
    -ms-transform: translateX(-150px) translateY(-80px);
    -o-transform: translateX(-150px) translateY(-80px);
    transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
    -webkit-transform: translateX(10px) translateY(-200px);
    -moz-transform: translateX(10px) translateY(-200px);
    -ms-transform: translateX(10px) translateY(-200px);
    -o-transform: translateX(10px) translateY(-200px);
    transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
    -webkit-transform: translateX(20px) translateY(-20px);
    -moz-transform: translateX(20px) translateY(-20px);
    -ms-transform: translateX(20px) translateY(-20px);
    -o-transform: translateX(20px) translateY(-20px);
    transform: translateX(20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(6) {
    -webkit-transform: translateX(30px) translateY(200px);
    -moz-transform: translateX(30px) translateY(200px);
    -ms-transform: translateX(30px) translateY(200px);
    -o-transform: translateX(30px) translateY(200px);
    transform: translateX(30px) translateY(200px);
}


.menu-area li a {
    text-decoration: none;
    color: #8c8e91;
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    transition: background-color 500ms ease-out;
    position: center;
    font-weight: 100;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.menu-area li {
    display: inline-block;
    list-style-type: none;
    font-family: Montserrat;
}

.menu {
    background: transparent;
    text-align: center;
    margin-left: -40px;
}

.content {
    z-index: 999;
}

.menu-area li a:hover {
    color: #bec0c4;
}

.nav1 {
    padding: 2px 2px 2px 2px;
    text-align: center;
    background: transparent;
    position: absolute;

    top: 50%;
    left: 50%;
    margin-left: -400px;
    width: 800px;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
}

@font-face {
    font-family: Montserrat;
    src: url("../RoshanPrabhakar/montserrat/Montserrat-Thin.otf");
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: Montserrat;

    transition: 0.2s ease-in-out;
}

/* Style the hamburger menu */
.topnav a.icon {
    color: white;
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: rgba(87, 87, 87, 0.2);
    /*color: black;*/
}

/* Style the active link (or home/logo) */
.active {
    background-color: rgba(41, 41, 41, 0.2);
    color: white;
}

@media (min-width: 1000px) {
    .topnav {
        display: none;
    }
}

@media (max-width: 1000px) {
    .nav1 {
        display: none;
    }

    .fly-in-text li {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 3em;
        color: #ffffff;
        opacity: 1;
        transition: all 1s ease;
    }

    .fly-in-text li:last-child {
        margin-right: 0;
    }
}
/*EXPERIMENTAL*/












